body {
    margin: 0;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    /* You can change this from 100 to 900 */
    font-style: normal;

}

.header,
.footer,
.signup {
    padding: 20px 150px;
}


.header,
.footer,
.signup,
.signuptext {
    display: flex;
}


.header {
    background-color: #006c68;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}


.headerlogo img {
    width: 150px;
}

.headerlinks {
    display: flex;
    gap: 120px;
    font-size: 28px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #faf6f3;
}

.signup {
    background-color: #006c68;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 20px;
}

.signupimg img {
    width: 400px;
    margin: auto;
    display: inline-block;
}

.imageholder {
    background-color: #faf6f3;
    border-radius: 25px;
    width: 600px;
    text-align: center;
}

.signuptext {
    flex-direction: column;
    color: #faf6f3;
    max-width: 650px;
    gap: 40px;
}

.signup button {
    background-color: #e69500;
    color: #faf6f3;
    box-shadow: 0 9px #004340b3;
}

.signup button:hover {
    background-color: #cc8400;
}

.signup button:active {
    background-color: #cc8400;
    box-shadow: 0 5px #002927b3;
    transform: translateY(4px);
}

img {
    width: 200px;
}

h1,
p {
    margin: 0;
}

button {
    padding: 18px;
    border-radius: 24px;
    border-width: 0;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}